@model SimBankSite.Models.ApplicationUser

@{
    ViewBag.Title = "Ваши данные";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table>
   <tr>
        <td>@ViewBag.User.Email</td>
        <td>@ViewBag.User.Id</td>       
   </tr>
</table>
