@model SimBankSite.Models.ApplicationUser

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @Html.Partial("_ServicesList", new SimBankSite.Models.Order())

    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Sim Sim SMS</h1>
            <p class="lead">Вы сможете получить смс на наш номер</p>
            <p><a href="/Home/Help" class="btn btn-primary btn-lg">Раздел помощи &raquo;</a></p>
            <table>
                <h3>
                    @*@foreach (SimBankSite.Models.ApplicationUser u in ViewBag.Users)
                    {
                        <tr>
                            <td>@u.UserName</td>
                            <td>@u.Id </td>                            
                        </tr>
                    }*@
                </h3>
            </table>
        </div>
    </div>
</div>
