@model SimBankSite.Models.Order
<div class="col-md-4">
    <h3>Выберите сервис, для которого Вам нужно принять СМС.</h3>
    @using (Html.BeginForm("Create", "Orders", FormMethod.Post))
    {
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Доступно</th>
                </tr>
            </thead>
            @foreach (SimBankSite.Models.Service service in ViewBag.Services)
                {
                <tr>
                    <td>
                        <div>
                            @Html.RadioButton("value", service.Id, new {@id = service.Id.ToString()}) 
                            @Html.Label(service.Name, service.Name, new {@for = service.Id.ToString(), @style = "margin-bottom: 0;" })
                        </div>                        
                    </td>
                    <td>@Convert.ToInt32(service.Price) руб.</td>
                    <td>
                        <div class="alert alert-warning sim-label" role="alert">
                            @((ViewBag.Sims as List<SimBankSite.Models.Sim>).Count() - (ViewBag.Sims as List<SimBankSite.Models.Sim>).Where(s => s.UsedServicesArray.Contains(service.Name)).Count()) Шт.
                        </div>                        
                    </td>
                </tr>
            }
        </table>
        <input type="submit" class="btn btn-warning" value="Выбрать" />
        
    }
</div>

