@model IEnumerable<SimBankSite.Models.OrderAndService>

@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm("OrdersPartial", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <div class="input-group col-md-5 col-lg-5" style="margin-top: 24px;">
                <input id="search" type="text" class="form-control" name="search" placeholder="Введите запрос для поиска...">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Поиск" />
                </span>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="sel1">Критерий поиска:</label>
                    <select class="form-control" id="searchType" name="searchType">
                        <option value="1" selected="selected">Название службы</option>
                        <option value="2">Номер телефона</option>
                        <option value="3">Статус</option>
                        <option value="4">Сообщение</option>
                    </select>
                </div>
            </div>
        }
    </div>
</div>
    <div id="results">

    </div>



@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        $('#results').load('@Url.Action("OrdersPartial","Orders")?search=');

       


    })


</script>

