<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <IncludeSetAclProviderOnDestination>false</IncludeSetAclProviderOnDestination>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>151.248.112.29</MSDeployServiceURL>
    <DeployIisAppPath>SimBank</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Andrey</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ServiceContext" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Services.mdf;Integrated Security=True;Application Name=EntityFramework" Name="data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimBankSite.Models.ServiceContext, SimBankSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Database" Order="2" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ASPNETDB.mdf;Initial Catalog=ASPNETDB;Integrated Security=True;Application Name=EntityFramework" Name="data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimBankSite.Models.SimContext, SimBankSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ASPNETDB.mdf;initial catalog=ASPNETDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceContext-Web.config Connection String">
      <ParameterValue>data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Services.mdf';Integrated Security=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>