<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>151.248.112.29</MSDeployServiceURL>
    <DeployIisAppPath>SmsPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Andrey</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Database" Order="1" Enabled="True">
          <Destination Path="Data Source=WIN-A0KA32SSGJS;Initial Catalog=aspnet-SimBankSite-20170821044936;Integrated Security=True" Name="Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SimBankSite.Models.ApplicationDbContext, SimBankSite" MigrationConfiguration="SimBankSite.Migrations.Configuration, SimBankSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Database-Web.config Connection String">
      <ParameterValue>
        <add connectionString="Server=WIN-A0KA32SSGJS;Database=aspnet-SimBankSite-20170821044936;Integrated Security=true" name="Database" providerName="System.Data.SqlClient" xmlns="" />
      </ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>